<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/game.css' />
  </head>
  <body>
    <div id="app">
      <h1>Move the square!</h1>
      <div id="wrapper">
      </div>
      <div id="menu">
        <p>Selected piece:</p><p id="selectedPiece">-1</p>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/minion.js"></script>
    <script type="text/javascript" src="javascripts/engine.js"></script>



    <script type="text/javascript">
      initCanvas();
      setInterval(render,30);
    </script>

  </body>
</html>
