body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFCC;
  background-color: #333329;
}
a {
  color: #00b7ff;
}

#app{
	padding: 10px;

}

#wrapper{
	display: inline-block;
}

#menu{
	display: inline-block;
	vertical-align: top;

}

#chat{
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  background-color: #444440;
  width: 310px;
  height: 800px;
  
}

#chatbox{
  width: 300px;
  height: 760px;
  overflow: auto;
  word-wrap:break-word;
}


.modal-content{
  background-color: #333329;
}